@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #ffffff;
  color: #111928;
}

/* Form Input Styles */
input,
textarea {
  font-family: 'Inter', sans-serif;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

button {
  font-family: 'Inter', sans-serif;
}
